openapi: 3.1.0
info:
  title: ATTOM Area All Events AVM API
  description: 'ATTOM Area API provides geographic boundary and hierarchy lookup for U.S.

    states, counties, CBSAs, ZIPs, neighborhoods, and school zones. Resolve a

    latitude/longitude to a geographic hierarchy, list counties within a state,

    fetch GeoJSON parcel/area boundaries, and resolve any ATTOM v4 geography

    identifier (geoIdV4) to its location metadata.

    '
  version: v1.0.0
  contact:
    name: ATTOM Data Customer Care
    email: datacustomercare@attomdata.com
    url: https://api.developer.attomdata.com/
  license:
    name: ATTOM Data Terms of Use
    url: https://www.attomdata.com/terms-of-use/
servers:
- url: https://api.gateway.attomdata.com
  description: ATTOM API Production Gateway
security:
- ApiKeyAuth: []
tags:
- name: AVM
  description: Automated Valuation Model — current AVM, AVM history, and rental AVM.
paths:
  /attomavm/detail:
    get:
      summary: Get ATTOM AVM Detail
      description: Return ATTOM Automated Valuation Model (AVM) value, confidence score, and value range.
      operationId: getAttomAvmDetail
      tags:
      - AVM
      parameters:
      - $ref: '#/components/parameters/AttomIDQuery'
      - $ref: '#/components/parameters/AddressQuery'
      responses:
        '200':
          $ref: '#/components/responses/AvmResponse'
  /avm/snapshot:
    get:
      summary: Get AVM Snapshot
      description: Compact AVM record for a property.
      operationId: getAvmSnapshot
      tags:
      - AVM
      parameters:
      - $ref: '#/components/parameters/AttomIDQuery'
      - $ref: '#/components/parameters/AddressQuery'
      responses:
        '200':
          $ref: '#/components/responses/AvmResponse'
  /avm/detail:
    get:
      summary: Get AVM Detail
      description: Detailed AVM record with confidence band and as-of date.
      operationId: getAvmDetail
      tags:
      - AVM
      parameters:
      - $ref: '#/components/parameters/AttomIDQuery'
      - $ref: '#/components/parameters/AddressQuery'
      responses:
        '200':
          $ref: '#/components/responses/AvmResponse'
  /avmhistory/detail:
    get:
      summary: Get AVM History
      description: Historical AVM valuations for a property across multiple as-of dates.
      operationId: getAvmHistoryDetail
      tags:
      - AVM
      parameters:
      - $ref: '#/components/parameters/AttomIDQuery'
      - $ref: '#/components/parameters/AddressQuery'
      responses:
        '200':
          $ref: '#/components/responses/AvmResponse'
  /valuation/rentalavm:
    get:
      summary: Get Rental AVM
      description: Estimated monthly rent for a property using ATTOM's rental AVM model.
      operationId: getRentalAvm
      tags:
      - AVM
      parameters:
      - $ref: '#/components/parameters/AttomIDQuery'
      - $ref: '#/components/parameters/AddressQuery'
      responses:
        '200':
          $ref: '#/components/responses/AvmResponse'
components:
  schemas:
    Status:
      type: object
      description: ATTOM standard response status block.
      properties:
        version:
          type: string
        code:
          type: integer
        msg:
          type: string
        total:
          type: integer
        page:
          type: integer
        pagesize:
          type: integer
    AvmEnvelope:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/Status'
        property:
          type: array
          items:
            type: object
            properties:
              identifier:
                $ref: '#/components/schemas/Identifier'
              address:
                $ref: '#/components/schemas/Address'
              avm:
                $ref: '#/components/schemas/AVM'
    Address:
      type: object
      properties:
        country:
          type: string
        countrySubd:
          type: string
        line1:
          type: string
        line2:
          type: string
        locality:
          type: string
        matchCode:
          type: string
        oneLine:
          type: string
        postal1:
          type: string
        postal2:
          type: string
        postal3:
          type: string
    Identifier:
      type: object
      properties:
        Id:
          type: integer
        fips:
          type: string
        apn:
          type: string
        attomId:
          type: integer
    AVM:
      type: object
      properties:
        amount:
          type: object
          properties:
            scr:
              type: integer
            value:
              type: integer
            high:
              type: integer
            low:
              type: integer
            valueRange:
              type: integer
            confidence:
              type: string
        eventDate:
          type: string
        AVMModel:
          type: object
          properties:
            FSDscore:
              type: integer
  parameters:
    AddressQuery:
      name: address
      in: query
      required: false
      description: Full street address as a single string.
      schema:
        type: string
      example: 4529 Winona Court, Denver, CO 80212
    AttomIDQuery:
      name: AttomID
      in: query
      required: false
      description: ATTOM property identifier.
      schema:
        type: string
      example: '145423726'
  responses:
    AvmResponse:
      description: AVM envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AvmEnvelope'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey
      description: ATTOM-issued API key. Pass on every request via the `apikey` header.
