openapi: 3.1.0
info:
  title: ATTOM Area All Events Assessment API
  description: 'ATTOM Area API provides geographic boundary and hierarchy lookup for U.S.

    states, counties, CBSAs, ZIPs, neighborhoods, and school zones. Resolve a

    latitude/longitude to a geographic hierarchy, list counties within a state,

    fetch GeoJSON parcel/area boundaries, and resolve any ATTOM v4 geography

    identifier (geoIdV4) to its location metadata.

    '
  version: v1.0.0
  contact:
    name: ATTOM Data Customer Care
    email: datacustomercare@attomdata.com
    url: https://api.developer.attomdata.com/
  license:
    name: ATTOM Data Terms of Use
    url: https://www.attomdata.com/terms-of-use/
servers:
- url: https://api.gateway.attomdata.com
  description: ATTOM API Production Gateway
security:
- ApiKeyAuth: []
tags:
- name: Assessment
  description: Assessed value, tax liability, and assessment history.
paths:
  /assessment/snapshot:
    get:
      summary: Get Assessment Snapshot
      description: Compact assessed-value record for a property.
      operationId: getAssessmentSnapshot
      tags:
      - Assessment
      parameters:
      - $ref: '#/components/parameters/AttomIDQuery'
      - $ref: '#/components/parameters/AddressQuery'
      responses:
        '200':
          $ref: '#/components/responses/AssessmentResponse'
  /assessment/detail:
    get:
      summary: Get Assessment Detail
      description: Full assessed-value record including tax amount, tax year, market value, and exemption flags.
      operationId: getAssessmentDetail
      tags:
      - Assessment
      parameters:
      - $ref: '#/components/parameters/AttomIDQuery'
      - $ref: '#/components/parameters/AddressQuery'
      responses:
        '200':
          $ref: '#/components/responses/AssessmentResponse'
  /assessmenthistory/detail:
    get:
      summary: Get Assessment History Detail
      description: Multi-year history of assessed values and tax amounts for a property.
      operationId: getAssessmentHistoryDetail
      tags:
      - Assessment
      parameters:
      - $ref: '#/components/parameters/AttomIDQuery'
      - $ref: '#/components/parameters/AddressQuery'
      responses:
        '200':
          $ref: '#/components/responses/AssessmentResponse'
components:
  schemas:
    Status:
      type: object
      description: ATTOM standard response status block.
      properties:
        version:
          type: string
        code:
          type: integer
        msg:
          type: string
        total:
          type: integer
        page:
          type: integer
        pagesize:
          type: integer
    Owner:
      type: object
      properties:
        corporateindicator:
          type: string
        owner1:
          type: object
          properties:
            firstnameandmi:
              type: string
            lastname:
              type: string
        owner2:
          type: object
          properties:
            firstnameandmi:
              type: string
            lastname:
              type: string
        mailingaddressoneline:
          type: string
    AssessmentEnvelope:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/Status'
        property:
          type: array
          items:
            type: object
            properties:
              identifier:
                $ref: '#/components/schemas/Identifier'
              address:
                $ref: '#/components/schemas/Address'
              assessment:
                $ref: '#/components/schemas/Assessment'
    Address:
      type: object
      properties:
        country:
          type: string
        countrySubd:
          type: string
        line1:
          type: string
        line2:
          type: string
        locality:
          type: string
        matchCode:
          type: string
        oneLine:
          type: string
        postal1:
          type: string
        postal2:
          type: string
        postal3:
          type: string
    Identifier:
      type: object
      properties:
        Id:
          type: integer
        fips:
          type: string
        apn:
          type: string
        attomId:
          type: integer
    Assessment:
      type: object
      properties:
        appraised:
          type: object
          properties:
            apprimprvalue:
              type: integer
            apprlandvalue:
              type: integer
            apprttlvalue:
              type: integer
        assessed:
          type: object
          properties:
            assdimprvalue:
              type: integer
            assdlandvalue:
              type: integer
            assdttlvalue:
              type: integer
        market:
          type: object
          properties:
            mktimprvalue:
              type: integer
            mktlandvalue:
              type: integer
            mktttlvalue:
              type: integer
        tax:
          type: object
          properties:
            taxamt:
              type: number
            taxpereszidx:
              type: number
            taxyear:
              type: integer
        owner:
          $ref: '#/components/schemas/Owner'
  parameters:
    AddressQuery:
      name: address
      in: query
      required: false
      description: Full street address as a single string.
      schema:
        type: string
      example: 4529 Winona Court, Denver, CO 80212
    AttomIDQuery:
      name: AttomID
      in: query
      required: false
      description: ATTOM property identifier.
      schema:
        type: string
      example: '145423726'
  responses:
    AssessmentResponse:
      description: Assessment envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AssessmentEnvelope'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey
      description: ATTOM-issued API key. Pass on every request via the `apikey` header.
