openapi: 3.2.0
info:
  title: ATTOM POI POI Categories API
  description: 'ATTOM Points of Interest (POI) API returns businesses and points of interest

    by point (lat/lon + radius) or by address. Supports 120+ business categories

    including restaurants, banks, retail, services, and recreation, with optional

    filters by line of business, industry, and category name.'
  version: v4
  contact:
    name: ATTOM Data Customer Care
    email: datacustomercare@attomdata.com
    url: https://api.developer.attomdata.com/
  license:
    name: ATTOM Data Terms of Use
    url: https://www.attomdata.com/terms-of-use/
servers:
- url: https://api.gateway.attomdata.com
  description: ATTOM API Production Gateway
security:
- ApiKeyAuth: []
tags:
- name: POI Categories
  description: Lookup of POI categories, lines of business, and industries.
paths:
  /v4/neighborhood/poi/categorylookup:
    get:
      summary: Lookup POI Categories
      description: Look up POI category metadata by category name, line of business, or industry.
      operationId: lookupPoiCategories
      tags:
      - POI Categories
      parameters:
      - name: category
        in: query
        required: false
        description: Category name to look up.
        schema:
          type: string
      - name: lineofbusiness
        in: query
        required: false
        description: Line-of-business code or name.
        schema:
          type: string
      - name: industry
        in: query
        required: false
        description: Industry code or name.
        schema:
          type: string
      responses:
        '200':
          description: Category lookup envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryEnvelope'
components:
  schemas:
    CategoryEnvelope:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/Status'
        response:
          type: object
          properties:
            categories:
              type: array
              items:
                $ref: '#/components/schemas/Category'
    Status:
      type: object
      properties:
        version:
          type: string
        code:
          type: integer
        msg:
          type: string
        total:
          type: integer
    Category:
      type: object
      properties:
        category:
          type: string
        lineOfBusiness:
          type: string
        industry:
          type: string
        code:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey
      description: ATTOM-issued API key.
